*{
	margin: 0;
	padding: 0;
}
body{
	/*background:#fafafa;*/
}
header{
	margin-bottom:40px;
	background: #fff;
}

.imglogo{
	margin-top: 10px;
	height: 50px;
}
.btn-add{
	margin-top: 20px;
}
/*.content{
	height: 250px;
}*/
input{
	display: inline-block;
}
.title{
	height: 50px;
	overflow: hidden;
}
.btnlogin{
	margin-top: 20px;
	
}

.signup{
	display: inline-block;
	
}
.videosearch{

	height: 80px;
	line-height: 80px;
}
#input-search{
	margin-top: 23px;
	display: inline-block;
}
.btn-playlist{
	background :#eee;
	height: 50px;
	line-height: 50px;
}
.playlist{
	background :#f5f5f5;

}
.item img{
	height: 200px;
}
.my-playlist{
	background: ;
	height: 373px;
	overflow: auto;
}
.my-playlist a{
	
}

.icon-add{
	display: none;	
	position: absolute;
	width: 92%;
	z-index: 100;
	top: 0;
	background: #333;
	opacity: 0.7;
	left: 15px;
	color: #fff;
	/*height: 30px;*/
	line-height: 30px;
	padding:10px;
}
.icon-item{
	width: 20px;
}
.content:hover .icon-add{
	display: block;

}
.content img{
	width: 100%;
}

footer{
	height: 70px;
	line-height: 70px;
	font-weight: bold;
	text-align: center;
	color: #666;

}
